
fastapi==0.128.6
uvicorn==0.34.0
gunicorn==25.1.0
python-multipart>=0.0.22
sqlalchemy==2.0.19
psycopg2-binary==2.9.6
pydantic==2.10.4
numpy==2.3.0

pyjwt>=2.11.0
passlib[bcrypt]>=1.7.4
pwdlib[argon2]==0.3.0
argon2-cffi>=25.1.0
firebase-admin>=7.1.0
qdrant-client>=1.17.0
python-dotenv==1.2.1
httpx>=0.28.1
upstash-redis==1.6.0